
<header>
    <nav class=main-nav>
        <a class=main-nav__logo routerLink="/">
            <img
            class=main-nav__logoImg
            ngSrc="/assets/argent-bank-logo.png"
            alt="Argent Bank Logo"
            width="200"
            height="54"
            priority
            />
            <h1 class="sr-only">Argent Bank</h1>
        </a>
        <div class=main-nav__link-containers>
            @if (authService.isAuthenticated) {
                <a class=main-nav__item routerLink="/profile">
                    <i class="fa fa-user-circle"></i>
                    {{ userService.userName }}
                </a>
            }
            <a class=main-nav__item routerLink={{authRoute}}>
                {{ authText }}
            </a>
        </div>
    </nav>
</header>