@use "../../../../styles/mixin.scss" as *;

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem 0.625rem;
  
  @include largeScreen {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  a {
    font-weight: bold;
    color: #2c3e50;
  }

  a.router-link-exact-active {
    color: #42b983;
  }

  &__link-containers {
    display: flex;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;

    @include largeScreen {
      gap: 1.5rem;
    }
  }

  &__item {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    i {
      margin-right: 5px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logoImg {
    max-width: 100%;
    width: 10rem;

    @include largeScreen {
      width: 12.5rem;
    }
  }
  
}