@use "./variables.scss" as *;

.main {
    flex: 1;
}

.bg-dark {
    background-color: #12002b;
}

.error-msg {
    border-radius: 4px;
    background-color: rgb(238, 221, 221);
    border: solid 1px rgb(184, 9, 6);
    padding: 0.5em;
    margin-top: 0.5em;
    font-size: 0.875em;
    display: inline-block;
}

.button {
    border-color: $buttonColor;
    background-color: $buttonColor;
    color: #fff;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
}