<main class="main bg-dark">
    @defer {
        @if (error) {
            <span class="error-msg">{{ error }}</span>
        } @else {
            <div class=header>
                <h1>Welcome back<br />{{ userService.firstName }} {{ userService.lastName }}!</h1>
                @if (isFormOpen) {
                    <!-- form to edit the user name -->
                } @else {
                    <button class="button editButton"> 
                        Edit Name
                    </button>
                }
                @if (successMsg) {
                    <span>User profile updated</span>
                }
            </div>
            <h2 class="sr-only">Accounts</h2>   
        }
    } @placeholder (minimum 500ms) {
        <!-- implement a better loader -->
        <ab-loader />
    }
</main>