@use "../../../styles/mixin.scss" as *;

.header {
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.editButton {
  padding: 0.625rem;
  margin: 1rem 0;
}

.transactionButton {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  margin-top: 1rem;

  @include largeScreen {
    width: 200px;
  }
}

.placeholder-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}