@use "../../../styles/mixin.scss" as *;

.main {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header {
  color: #fff;
  padding-bottom: 2rem;

  &__edit-button {
    padding: 0.625rem;
    margin: 1rem 0;
  }
}

.placeholder-container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}