<main class="main bg-dark">
    @defer (when isDataLoaded) {
        <div class=header>
            <h1>Welcome back<br />{{ userService.firstName }} {{ userService.lastName }}!</h1>
            @if (isFormOpen) {
                <ab-editProfileForm class="editForm" (isProfileUpdatedEvent)="handleForm($event)" />
            } @else {
                <button class="button editButton" (click)="openForm()">Edit Name</button>
            }
            @if (isProfileUpdated) {
                <span>User profile updated</span>
            }
        </div>
        <h2 class="sr-only">Accounts</h2>   
    } @placeholder {
        <div class="placeholder-container">
            @if (error) {
                <span class="error-msg">{{ error }}</span>
            } @else {
                <!-- implement a better loader -->
                <ab-loader />
            }
        </div>
    }
</main>